input:focus {
	border-bottom: 1px solid #9575cd !important;
	box-shadow: 0 1px 0 0 #9575cd !important;
}

div.col > div {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 10% 90%;
}
div.col > div > i,
div.col > div > span {
	align-self: center;
	justify-self: center;
}

h6 {
	letter-spacing: 10px;
	text-transform: uppercase;
}

th,
td {
	text-align: center !important;
}

table > tbody > tr:hover {
	background-color: rgba(0, 0, 0, 0.15) !important;
}

td.table-actions i.material-icons {
	width: 20px;
}

ul.ul-category > li,
ul.ul-modifier > li,
input[type="number"], 
input[type="text"] {
	text-align: center;
	border-bottom: none !important;
}

input.h4[type="text"] {
	font-size: 2.25rem !important;
}


.mods,
.mods-row {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
}
.mods-cell {
	width: calc(20% - 10px);
	margin: 5px;

	min-height: 100px;
}

a[tcg=Task],
a[tcg=Discipline],
a[tcg=Target],
a[tcg=Stat],
a[tcg=StatAction] {
	font-weight: bold;
}



textarea {
	resize: none;
	width: calc(100% - 20px) !important;
	height: 100% !important;
}