div.col > div {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 10% 90%;
}
div.col > div > i,
div.col > div > span {
	align-self: center;
	justify-self: center;
}

h6 {
	letter-spacing: 10px;
	text-transform: uppercase;
}

th,
td {
	text-align: center !important;
}

ul.ul-category > li,
input[type="number"] {
	text-align: center;
}